body {
    background-color: rgb(128, 128,128);
  }
  .jspsych-display-element {
    font-size: 20px;
    color: white;
  }
  .jspsych-content {
    max-width: 80%; 
  }

label
  .jspsych-survey-likert-opt-label {
    color: white;
  }